@import "tailwindcss";

:root {
  overflow: hidden;

  /* Base Colors */
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f5f5f5;
  --vt-c-white-mute: #ececec;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #2a2a2a;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.25);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.1);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.45);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* Light Theme (Default) */
:root {
  --color-background: #f9f9f9;
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: #dcdcdc;
  --color-border-hover: #bbbbbb;

  --color-heading: #333333;
  --color-text: #555555;

  --c-green-base: #4caf50;
  --c-green-dark: #388e3c;
  --c-green-accent: #66bb6a;

  --c-red-base: #f44336;
  --c-blue-base: #2196f3;

  --section-gap: 160px;
}

/* Dark Theme */
.theme-dark {
  --color-background: #1e1e1e;
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: #3d3d3d;
  --color-border-hover: #555555;

  --color-heading: #ffffff;
  --color-text: #f5f5f5;

  --c-green-base: #81c784;
  --c-green-dark: #66bb6a;
  --c-green-accent: #a5d6a7;

  --c-red-base: #e57373;
  --c-blue-base: #64b5f6;
}

::-webkit-scrollbar {
    display: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

